@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@font-face {
    font-family: Lucas;
    src: url(../fonts/FSLucas-Regular.otf);
  }

$Header: 'Playfair Display', serif;
$body-font: Lucas, sans-serif ;
