.page-banner {
    @include mq("tablet") {
        height: auto;
        top: 0px;
    }
    @include mq("desktop") {
        height: auto;
    }
    &.mos-news-banner {
        @include mq("tablet") {
            top: 0px;
        }
    }
    
    .page-banner-image {
        img {
            height: 40vh;
            width: 100%;
            object-fit: cover;
            object-position: top; /* default value: image is centered*/
            @include mq("tablet") {
                height: auto;
            }
            @include mq("desktop") {
                height: auto;
            }
        }
        &.mos-article {
            
            img {
                    height: auto;
                    object-fit: cover;
                @include mq("tablet") {
                    height: auto;
                }
                @include mq("tablet-wide") {
                    height: 60vh;
                }
                @include mq("desktop") {
                    object-position: top;
                    height: 45vh;
                }
            }
        }
    }
    h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: none;
        color: $copper;
        text-transform: uppercase;
        @include mq("desktop") {
            font-size: 80px;
            line-height: 80px;
            margin-bottom: 40px;
        }
    }
}

.banner-middle {
    object-position: 50% 50% !important; /* default value: image is centered*/

}



    .page-intro-container {
        position: relative;
        h1 {
            font-size: 48px;
            line-height: 48px;
            padding-left: 16px;
            word-spacing: 200px;
            width: 200px;
            @include mq("tablet") {
                position: absolute;
                font-size: 48px;
                line-height:48px;
                left: 61vw;
                top: 15%;
            }
            @include mq("desktop") {
                position: absolute;
                font-size: 64px;
                line-height:64px;
                left: 61vw;
                top: 20%;
                word-spacing: 400px;
                width: 400px;
            }
        }
        img {
            width: 100vw;
            height: 50vh;
            object-fit: cover;
            @include mq("tablet") {
                width:60vw;
                height:496px;
            }
            @include mq("desktop") {
                width:60vw;
            }
        }
    }




//Left to right
    .title-to-image {
        position: relative;
        @include mq("tablet") {
            height:70vh;
        }
        @include mq("tablet-wide") {
            height:80vh;
        }
        @include mq("desktop") {
            min-height:512px;
        }
        @include mq("desktop-wide") {
            min-height:73vh;
        }
        .title-to-image-text {
            @include mq("tablet") {
                position: absolute;
                width: 29vh;
                left:2vw;
            }
            @include mq("tablet-wide") {
                left: 5vw; 
                width: 35vw;
            }
            @include mq("desktop") {
                position: absolute;
                width: 30vw;
                left: 2vw;
            }
            h1 {
                font-size: 55px;
                line-height: 55px;
                
                @include mq("tablet") {
                    font-size: 55px;
                    }
                @include mq("desktop") {
                font-size: 64px;
                line-height: 64px;
                }
            }
            p {
                
                @include mq("tablet") {
                    width: 100%;
                    }
                }
        }
        
        img {
            width: 100vw;
            height:40vh;
            object-fit: cover;
            object-position: 50% 50%;
            @include mq("phone-wide") {
                height:70vh;
            }
            @include mq("tablet") {
                width:55vw;
                height: 60vh;
                position: absolute;
                top:0;
                right:0;
            }
            @include mq("desktop") {
                height:80vh;
                position: absolute;
                top:0;
                right:0;
                width:60vw;
            }
        }
    }
//Right to left
    .image-to-title {
        position: relative;
        @include mq("tablet") {
            min-height:60vh;
        }
        @include mq("desktop") {
            min-height:512px;
        }
        @include mq("desktop-wide") {
            min-height: 73vh;
        }
        .image-to-title-text {
            @include mq("tablet") {
                position: absolute;
                width: 29vw;
                right:3vw;
            }
            @include mq("tablet-wide") {
                width: 30vw;
                right:5vw;
            }
            @include mq("desktop") {
                position: absolute;
                width: 30vw;
                right: 6vw;
            }
            h1 {
                font-size: 55px;
                
                @include mq("tablet") {
                    font-size: 55px;
                    }
                @include mq("desktop") {
                font-size: 64px;
                line-height: 64px;
                }
            }
            p {
                
                @include mq("tablet") {
                    width: 100%;
                    }
                }
        }
        
        img {
            width: 100vw;
            height:40vh;
            object-fit: cover;
            @include mq("phone-wide") {
                height:70vh;
            }
            @include mq("tablet") {
                width:55vw;
                height: 60vh;
                position: absolute;
                top:0;
                left:0;
                object-position: left;
            }
            @include mq("desktop") {
                height:512px;
                position: absolute;
                top:0;
                left:0;
                width:60vw;
            }
            @include mq("desktop-wide") {
                height: 648px;
            }
        }
    }





    .mos-section {
        padding:10vh 0;
        @include mq("tablet") {
            padding:5vh 0;

        }
        @include mq("desktop") {
            min-height: 526px;
        }
      }
      .two-sided-body-container {
          width: 100%;
        @include mq("tablet") {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .two-sided-item{
            flex-basis: 100%;
            @include mq('tablet'){
            flex-basis: 42%;
            }
            .two-sided-content{

            }
        }
      }

      .fullwidth-image {
            height: 50vh;
            width: 100%;
            object-fit: cover;
            object-position: top;
            @include mq("phone-wide") {
                height: 70vh;
            }
            @include mq("desktop") {
            height: 100vh;        
            }
      }

#video-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top:40px;
    @include mq("tablet") {
        flex-direction: row;
        justify-content: space-evenly;
    }
}  

.video-container {
    max-width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: $Header;
    color: $white;
    background:$copper;
    padding: 8px 32px;
    margin:4px;
    span {
        position: relative;
        font-size: 14px;
        text-align: center;
        padding:8px;
        @include mq('phone-wide'){
            font-size: 8px;
        }
        @include mq('tablet'){
            font-size: 10px;
        }
        @include mq('desktop'){
            font-size: 14px;
        }
        //Play Button
        img {
            height: 16px;
        }
    }
    &.white {
        color: #FFFFFF !important;
    }
    &.hero-video {
        @include mq('tablet'){
            font-size: 12px;
        }
        img {
            @include mq('desktop'){
                top: 1px;
            }
        }
    }

}




.video-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    z-index: 999;
    .video-content {
        iframe {
            height:auto;
            width:auto;
        }
    }
}

.video-section {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-section-container{
        width: 30vw;
    }
}

