#article-tease {
    z-index: 99;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 16px 0;
            .article-header {
                font-weight:400;
                color: grey;
                transition: color 0.5s ease-in-out;

                &:hover {
                    color: $spctr;
                    transition: color 0.5s ease-in-out;
                }
            }
        }
    }
}